### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
javafx_swt.xml
misc.xml
modules.xml
MP-project.iml
mysql_connector_j_8_3_0.xml
vcs.xml


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store